html{
  scroll-behavior: smooth;
}
h1{
font-size: 40px;
line-height: 1;
padding-top:90px;
padding-bottom: 10px;;
text-align: center;
color:#243a7f;
text-shadow: 2px 2px 4px #f6ee5b;
font-family: 'McLaren', sans-serif;
}

body{
font-family: 'Lora', serif;
line-height: 1;
background-color: #FFFFFA;
background-image: url('../images/background.png');
}

footer{
background-color: #f0f6ff;
color: black;
padding: 30px;
width: 100%;
text-align: center;
position:relative;
bottom: 0;
}


.flip-card {
background-color: transparent;
width: 300px;
height: 300px;
border: 1px solid #f1f1f1;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
display: block;
margin-left: auto;
margin-right: auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #bbb;
color: black;
}

/* Style the back side */
.flip-card-back {
background-color: white;
color: black;
transform: rotateY(180deg);
}

.skip a{
background: white;
left: 0;
padding: 6px;
position: absolute;
top: -40px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
}

.skip a:focus{
top:0;
}
*:focus{
border: 2px solid black;
}

/* forms */
.forms{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

input[type=text], textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */
border: 1px solid #ccc; /* Gray border */
border-radius: 5px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 10px; /* Add a top margin */
margin-bottom: 30px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

}
input[type=submit] {
background-color: #243a7f;
color: white;
padding: 8px 10px;
border: solid black;
border-radius: 10px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #2834C6;
color: white;
}

/* .gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-between;
}
.galleryimg {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
} */
/* }
@media screen and (min-width: 768px) and (max-width: 1024px) {
.nav ul {
  margin:0;
  top: 0;
  width: 100%;
  background-color: #f0f6ff;
  padding: 30px;
  color:  black;
  list-style-type: none;
}
.nav li{
  display:inline-block;
  padding-right: 25px;
}
.nav li a:hover {
background-color: yellow;
} */


@media screen and (min-width: 500px){
.welcome{
  font-weight: 00px;
  text-align: center;
  text-shadow: 2px 2px yellow;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #1C6E8B;
  line-height: 25px;
  
}

.welcometext{
  font-size: 19px;
  line-height: 20px;
  text-align: center;

  color:#1C6E8B;
  padding-bottom: 20px;
}

.breakfast{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.breakfastpic{
  margin-left: 50px;
  display: block;

}
.breakfast2{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.breakfastpic2{
  margin-left: 50px;
  display: block;
}
.breakfast3{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.breakfastpic3{
  margin-left: 50px;
  display: block;
}
.lunch{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.lunchpic{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;

}
.lunch2{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.lunchpic2{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
.dinner{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.dinnerpic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
.dinner2{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.dinnerpic2{
  display: block;
  margin-left: 100px;
}
.dinner3{
  font-size: 20px;
  color:#1C6E8B;
  padding: 10px;
  line-height: 20px;
}
.dinnerpic3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.nav ul {
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100%;
  background-color: #f0f6ff;
  color:  black;
  list-style-type: none;
  text-align: center;
}
.nav li{
  display:inline-block;
  padding: 5px;
}
.nav li a:hover {
background-color: yellow;
}
.gallery{
display: flex;
flex-direction: row;
flex-wrap:wrap;
max-width: 1200px;
margin:auto;
justify-content: center;
padding: 10px;
}
.gallery img{
  width:350px;
  height: 350px;;
  justify-content: center;
}

}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0px;
  }
}